.negro{
    background: black;
    color: white;
}
.blanco{
    background: white;
}

body{
    background: grey;
}



div {
    text-align: center;
    align-content: center;
    font-size: 0.5em;
    width: 2em;
    height: 2em;
    visibility: hidden;
    padding: 3em;
}

td:hover > div{
    visibility: visible;
    background: rgba(255, 0, 0, 0.5);
}