.negro{
    background: black;
    color: white;
}
.blanco{
    background: white;
}

body{
    background: grey;
}

td {
    text-align: center;
   padding: 2em;
    
}

table{
    empty-cells: show;
    
}

div {
    text-align: center;
    align-content: center;
    font-size: 0.5em;
    width: 2em;
    height: 2em;

}